
        .jumbo{
            text-align: center;
            background: -webkit-radial-gradient(circle, #151101, black);
            color: #B3204D;
            margin: 0;
           
        }
        .menu{
            background:black;   
           
                  
        }
        .menu a{
            color: #EDF6EE;
            font-size: large;            
            text-align: center;
        }
        .menu a:hover{
            font-weight: bold;
        }
        body{
          background:-webkit-radial-gradient(center, 50em 500px, #B3204D, black);
          color: #EDF6EE;
        } 
        h4.title{
          color: black;
        }
        h1.header1{
          color: white;
          text-align: right;
          font-style: italic;
          display: inline;
        }  
        h1.header2{
          color: #B3204D;
          text-align: left;
          font-weight: bold;
          display: inline;
        }
        h1.header3{
          color: white;
        }        
        h2.headertekst {
          text-align: center;
        }
        .separacion{
            margin-top: 30px;                     
        }
        .separation{
          padding-top: 1em;                     
        }       
        .footer{
            background-color: #111;   
            text-align: center;
            color: EDF6EE;
            padding: 15px;
        }