{% extends './base.html' %}
 
{% block body %}
<div class="container text-center separacion">
    <h2>CONTACTANOS</h2>
</div>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row" style="margin: 0px;padding: 0px;">
                        
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h6 class="contactanos">Dirección:</h6>
                                    <h6 class="contactanos">9 de Octubre y Malecón Guayaquil</h6>
                                </div>
                                <br>
                                <div class="text-center">
                                    <h6 class="contactanos">Email:</h6>
                                    <h6 class="contactanos">info@gametime.com</h6>
                                </div>
                                <br>
                                <div class="text-center">
                                    <h6 class="contactanos">Teléfono:</h6>
                                    <h6 class="contactanos">0987456321</h6>
                                </div>
                                <br>
                                <div class="text-center">
                                    <h6 class="contactanos">Redes sociales:</h6>
                                    <h6 class="contactanos">facebook.com/gametime</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block "><img class="img2" src="static/img/empresa.jpg"  alt="Logo Tebex"></div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{%endblock%}