<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .jumbo{
            text-align: center;
            background: -webkit-linear-gradient(270deg, white, green);
            color: white;
            margin: 0;
        }
        .menu{
            background-color: green;
        }
        .menu a{
            color: white;
            font-size: large;
        }
        .menu a:hover{
            font-weight: bold;
        }
        .separacion{
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid jumbo ">
        <div class="container">
          <h1>PRACTICA BOOTSTRAP SEMANA 3</h1>
          <p>Desarrollo de aplicaciones web C3</p>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm menu">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tarjetas') }}">EQUIPO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tablas') }}">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('formularios') }}">NUEVO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('formularios') }}">CONTACTANOS</a>
          </li>          
        </ul>
    </nav>
    <div class="container separacion text-center">
        <h2>TABLAS</h2>
    </div>
    <div class="container separacion">           
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success"><i class="fa fa-eye" style="font-size:24px"></i></button>
                    <button type="button" class="btn btn-outline-warning"><i class="fa fa-edit" style="font-size:24px"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash" style="font-size:24px"></i></button>
                </div>
              </td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>
                  <div class="btn-group">
                      <button type="button" class="btn btn-outline-success"><i class="fa fa-eye" style="font-size:24px"></i></button>
                      <button type="button" class="btn btn-outline-warning"><i class="fa fa-edit" style="font-size:24px"></i></button>
                      <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash" style="font-size:24px"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>
                  <div class="btn-group">
                      <button type="button" class="btn btn-outline-success"><i class="fa fa-eye" style="font-size:24px"></i></button>
                      <button type="button" class="btn btn-outline-warning"><i class="fa fa-edit" style="font-size:24px"></i></button>
                      <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash" style="font-size:24px"></i></button>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
</body>
</html>